.nodeWrapper .expandIconWrapper.isOpen {
  transform: rotate(180deg);
}

/* .nodeWrapper  */
.labelGridItem {
  padding-inline-start: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pipeY {
  position: absolute;
  border-left: 2px solid #e7e7e7;
  left: -7px;
  top: -7px;
}

.pipeX {
  position: absolute;
  left: -7px;
  top: 15px;
  height: 2px;
  background-color: #e7e7e7;
  z-index: -1;
}

.treeRoot {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  @apply space-y-1;
}

.treeRoot ul {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.treeRoot > li:after {
  display: none;
}

.wrapper .draggingSource {
  opacity: 0.3;
}

.wrapper .placeholder {
  position: relative;
}

.wrapper > ul > li > .nodeWrapper > div.pipeY {
  display: none;
}

.wrapper li:has(> .dropTarget) {
  outline: 3px solid #e8f0fe;
  border-radius: 4px;
}
